.idea/.gitignore
.idea/.name
.idea/POslowie.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/vcs.xml
.ipynb_checkpoints/
Mongo/
src/data/.ipynb_checkpoints/
src/data/__pycache__/
scraper_prototype.ipynb
